<html>
<head>
    <title>Ellen Skiff Design</title>
    <script src="./main.dart.js"></script>
    <link rel="stylesheet" href="https://use.typekit.net/ghu5wob.css">
    <link rel="stylesheet" href="styles/styles.css">
</head>
<body>
<main class="page_container">
    <header class="Navigation">
        <a href="/"><h1>ELLEN SKIFF</h1></a>
        <nav>
            <a href="/info.html">Info</a>
            <a href="/ceevee.html">CV</a>
        </nav>
    </header>
    <aside class="LeftSidebar">
        <ul class="ProjectList">
            <li><a href="/projects/airship.html">Airship</a></li>
            <li><a href="/projects/airship.html">Airship</a></li>
            <li><a href="/projects/airship.html">Airship</a></li>
            <li><a href="/projects/airship.html">Airship</a></li>
            <li><a href="/projects/airship.html">Airship</a></li>
            <li><a href="/projects/airship.html">Airship</a></li>
            <li><a href="/projects/airship.html">Airship</a></li>
        </ul>
        <ul class="ElsewhereLinks">
            <li><a href="https://skiffskiffskiff.dribbble.com/">> DRIBBBLE</a></li>
            <li><a href="https://www.instagram.com/skiffdesign/">> INSTAGRAM</a></li>
            <li><a href="https:dribbble.com">> LINKEDIN</a></li>
            <li><a href="https:dribbble.com">> CONTACT</a></li>
        </ul>
    </aside>
    <section class="Content">
        {{{content}}}
    </section>

</main>


</body>
</html>