<html>
<head>
    <title>Ellen Skiff Design</title>
    <script src="../main.dart.js"></script>
    <link rel="stylesheet" href="https://use.typekit.net/ghu5wob.css">
    <link rel="stylesheet" href="../styles/styles.css">
</head>
<body>
<main class="page_container">
    <header class="Navigation">
        <a href="/"><h1>ELLEN SKIFF</h1></a>
        <nav>
            <a href="/">Info</a>
            <a href="/">CV</a>
        </nav>
    </header>
    <aside class="LeftSidebar">
        <ul class="ProjectList">
            <li><a href="/projects/airship.html">Airship</a></li>
            <li><a href="/projects/bug_bounty.html">Bug Bounty</a></li>
            <li><a href="/projects/renegade_rabbit.html">Renegade Rabbit</a></li>
            <li><a href="/projects/cuban_ephemera.html">Cuban Ephemera</a></li>
            <li><a href="/projects/montross_athletics.html">Montross Athletics</a></li>
        </ul>
        <ul class="ElsewhereLinks">
            <li><a href="https://skiffskiffskiff.dribbble.com">> DRIBBBLE</a></li>
            <li><a href="https://instagram.com/skiffdesign">> INSTAGRAM</a></li>
            <li><a href="https://www.linkedin.com/in/ellenskiff/">> LINKEDIN</a></li>
            <li><a href="mailto:ellen@ellenskiff.com">> CONTACT</a></li>
        </ul>
    </aside>
    <section class="Content">
        {{{content}}}
    </section>

</main>


</body>
</html>