<html>
<head>
    <title>Skiff Design - Bug Bounty</title>
    <link rel="stylesheet" href="../styles/styles.css">
</head>
<body>
<main class="page_container">
    <h1>{{title}}</h1>

    {{{content}}}

    <p>
        <a href="/">back</a>
    </p>

    <p>
        Tags:
    </p>
    <ul>
        {{#tags}}
        <li>{{.}}</li>
        {{/tags}}
    </ul>
</main>
</body>
</html>